<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body style="background-color: #474747;">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">EMPLOYEE MANAGEMENT</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Add_Employee_View' %}">CREATE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Show_Employee_View' %}">SHOW</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    {% if user.is_authenticated %}
                    <span
                        style="font-size: 20px; margin-right: 18px;margin-top: 2px; font-weight: bolder;"><u>{{user.username}}</u></span>
                    <a href="{% url 'Sign_Out_View' %}"><button class="btn btn-outline-dark me-3" type="button">Sign
                            Out</button></a>
                    {% else %}
                    <a href="{% url 'Sign_In_View' %}"><button class="btn btn-outline-dark me-3" type="button">Sign
                            In</button></a>
                    <a href="{% url 'Sign_Up_View' %}"><button class="btn btn-outline-dark" type="button">Sign
                            Up</button></a>
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>